{% extends 'game1/base.html' %}
{% load static %}

{% block header %}Game{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "game1/css/main.css" %}">
{% endblock %}

{% block content %}

	<div class="container mt-4">
		<div class="col-md-12">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-danger" role="alert" text-align=center>
					{{message}}
				</div>
				{% endfor %}
			{% endif %}
			<h3 class="text-center">Mission Name #{{mission_id}}</h3>
			
			<h3 id="time"></h3>
			<script>
			var finish_time = "{{finish}}";
			
			var deadline = new Date(finish_time).getTime();

			var x = setInterval(function() {

				// Get today's date and time
				var now = new Date().getTime();

				// Find the distance between now and the count down date
				var distance = deadline - now

				// Time calculations for days, hours, minutes and seconds
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result in the element with id="demo"
				document.getElementById("time").innerHTML ="Your time:" + hours + "h "
				+ minutes + "m " + seconds + "s ";

				// If the count down is finished, write some text
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("time").innerHTML = "EXPIRED";
					}
				}, 1000);
			</script>
		</div>
		<div class="col-md-12"><img src="{{photo}}" alt="" style="max-width:100%;"></div><br>
		<div class="col-md-12 text-center">
			{# data-toggle="modal" data-target="#exampleModalCenter" #}
			<p id="indicator"></p>
			<button type="button" class="btn btn-primary" id="selfie_btn">Make selfie</button>
			<button type="button" class="btn btn-secondary" id="place_btn">Make place photo</button>
			<button type="button" class="btn btn-danger" onclick="delete_photos()">Remove photos</button>
		</div><br>
		<div class="col-md-12 text-center">
			{%csrf_token%}
			<button class="btn-lg btn-success" onclick="send_answer()" id="get_mission">Get next mission</button>
			<p><font color=red id="error">
			
			</font></p>
			
		</div>
	</div>

	<!-- The Selfie modal dialog -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	  	{# Content #}
	    <div class="modal-content">
	    	{# Modal Header #}
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Take a selfie</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      {# Modal Body #}
	      <div class="modal-body">
	        <div style="width:320px; height:240px;" id="selfie_camera"></div>
	      </div>
	      {# Modal Footer #}
	      <div class="modal-footer">
	      	<div class="col-md-4">
	      		<button type="button" class="btn btn-primary" onclick="take_selfie()">Make a photo</button>

	      	</div>
	        <div class="col-md-4">
	        	<button type="button" class="btn btn-success" onclick="selfie_reset()">OK</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	{# Ending #}

	<!-- The Place modal dialog -->
	<div class="modal fade" id="placeModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	  	{# Content #}
	    <div class="modal-content">
	    	{# Modal Header #}
	      <div class="modal-header">
	        <h5 class="modal-title" id="placeModalLongTitle">Take a selfie</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      {# Modal Body #}
	      <div class="modal-body">
	        <div style="width:320px; height:240px;" id="place_camera"></div>
	      </div>
	      {# Modal Footer #}
	      <div class="modal-footer">
	      	<div class="col-md-4">
	      		<button type="button" class="btn btn-primary" onclick="take_place()">Make a photo</button>

	      	</div>
	        <div class="col-md-4">
	        	<button type="button" class="btn btn-success" onclick="place_reset()">OK</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	{# Ending #}
{% endblock %}

{% block js %}
	<script src="{% static "game1/js/main.js" %}" defer></script>
{% endblock %}