{% extends 'game1/base.html' %}
{% load static %}
{% block navbar %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'game1/css/signup_style.css' %}">
{% endblock %}


{% block content %}
{% if messages %}
				{% for message in messages %}
				<div class="alert alert-danger" role="alert" text-align=center>
					{{message}}
				</div>
				{% endfor %}
			{% endif %}
	<div class="container">

		<div class="d-flex justify-content-center h-100">
			<div class="card">
	            <div class="card-header">
	                <h3>Sign Up</h3>
	               
	            </div>
	            <div class="card-body">
	                <form method="post", action="{% url 'signup' %}">
	                    {% csrf_token %}
	                    {# Form begin  #}
	                    <div class="input-group form-group">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text"><i class="fas fa-user"></i></span>
	                        </div>
	                        <input type="text" class="form-control" placeholder="username" name="username">
	                        
	                    </div>
	                    <div class="input-group form-group">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text"><i class="fas fa-at"></i></span>
	                        </div>
	                        <input type="text" class="form-control" placeholder="email" name="email">
	                        
	                    </div>
	                    <div class="input-group form-group">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text"><i class="fas fa-key"></i></span>
	                        </div>
	                        <input type="password" class="form-control" placeholder="password" name="password">
	                    </div>
	                    <div class="input-group form-group">
	                        <div class="input-group-prepend">
	                            <span class="input-group-text"><i class="fas fa-key"></i></span>
	                        </div>
	                        <input type="password" class="form-control" placeholder="password confirmation" name="password1">
	                    </div>
	                    <div class="form-group">
	                        <input type="submit" value="Register" class="btn btn-lg btn-block float-right login_btn">
	                        <input type="hidden" name="next" value="{{ next }}">
	                    </div>
	                    {# Form end #}
	                    
	                </form>
	            </div>
	           
	        </div>
		</div>
	</div>
{% endblock %}